@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-surfaceHighlight: #2A2A2A;
  --color-primary: #FF5722;
  --color-primaryDark: #E64A19;
  --color-border: #2C2C2C;
  --color-success: #03DAC6;
  --color-textSecondary: #A0A0A0;
}

html, body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* Previene selección de texto accidental */
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}